html {
  background: url('../../assets/oldtrafford.jpg') no-repeat center center fixed !important;
  background-size: cover !important;
  height: 100vh !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {
  width: 100%;
  height: 100%;
  min-height: 650px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

/* App Content */
.main-wrapper {
  height: 675px;
  width: 850px;
  border: 10px solid #2d2c2c;
  background-color: black;
  position: fixed;
  opacity: 0.9;
  z-index: 2;
}

                                      /* LEFT SIDE */
.left-side {
  width: 25%;
  height: 100%;
  float: left;
  border-right: 10px solid #2d2c2c;
  background: black;
  opacity: 0.9;
}

/* Red Devil Logo */
.logo img {
  background-size: cover;
  width: 100%;
}
/* Nav Buttons*/
.navbar {
  width: 100%;
  color: white;
  margin: 0px auto 5px auto;
  display: block;
}
.btn {
    padding: 10px;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
}

/* Links */
.links {
  text-align: center;
  margin: 5px auto 0px auto;
}

/* RGB Game - Pied Pieper */
.rgb-game {
  text-align: center;
  margin-top: 10px;
}
.rgb-game a {
  color: rgb(0, 200, 38);
}

/* Clock Directive*/
.clock {
  color: white;
}

                                      /* RIGHT SIDE */
.right-side {
  width: 75%;
  height: 100%;
  float: right;
}

/* Manchester United FC Header + Logo*/
.header {
    width: 100%;
    height: 15%;
    border-bottom: 10px solid #2d2c2c;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}
/* Where the routes go*/
.main-content {
  width: 100%;
  height: 85%;
}
.main-content h3 {
  text-align: center;
  margin-top: 19px;
}

/* Quote */
.content-header {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 0px;
  margin-top: 25px;
  font-weight: normal;
  font-size: 15px;
}

/* Youtube Video*/
.video {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  border-top: 10px solid #2d2c2c;
  border-bottom: 10px solid #2d2c2c;

}
/*Main Content Footer*/
.footerbox {
  color: white;
  text-align: center;
  padding: 5px 5px;
}
.footerbox a:focus {
  text-decoration: none;
}
#footerName {
  color: steelblue;
  text-decoration: none;
}
.icon {
  display: inline-block;
  margin: 10px auto;
}

/* Roster Route */
.rosterList {
  overflow: scroll;
  height: 490px;
}
#table-header {
  background-color: rgb(187, 0, 0);
}
#teamName {
  text-align: center;
}

/* Results Route */
.resultsList {
  overflow: scroll;
  height: 530px;
}

/* Table Route */
.tableList {
  overflow: scroll;
  height: 490px;
}

/* Schedule Route */
.scheduleList {
  overflow: scroll;
  height: 490px;
}


::-webkit-scrollbar {
   display: none;
}
