<!DOCTYPE html>
<html>
<head>
	<title>Color Game</title>
	<link rel="stylesheet" type="text/css" href="rgb.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

</head>

<body>
	<!-- <div class="icon">
			<a href="../home/home.html"><i class="fa fa-pied-piper" aria-hidden="true"></i>
	</div> -->
<h1>
	The Incredible
	<br>
	<span id="colorDisplay">RGB</span>
	<br>
	Color Game
	<br>
	<a href="../../index.html"><i class="fa fa-pied-piper" style="color: white;" aria-hidden="true"></i></a>
</h1>



<div id="stripe">
	<button id="reset">New Colors</button>
	<span id="message"></span>
	<button class="mode">Easy</button>
	<button class="mode" class="selected">Hard</button>
</div>

	<div id="container">
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
	</div>

<div class="icon">
		<a href="../home/home.html"><i class="fa fa-pied-piper" aria-hidden="true"></i>
</div>

<script type="text/javascript" src="rgb.js"></script>
</body>
</html>
